<div [ngClass]="['card']">
  <p [ngClass]="['title']">{{title}}</p>
  <!-- ------------------------------------------------ FORM ------------------------------------------------ -->
  <div [ngClass]="['row', 'col-12', 'form']">
    <mat-form-field appearance="legacy" [ngClass]="['col-12','md:col-9','input-filter', 'md:input-filter']" >
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    <div [ngClass]="['col-12','md:col-3','button-new', 'md:button-new']">
      <app-btn-custom-a 
        [text]="'Nuevo'" 
        [type]="'button'"
        (click)="goPageCreate()"
      >
      </app-btn-custom-a>
    </div>
  </div>
  <!-- ------------------------------------------------ TABLE ------------------------------------------------ -->
  <div [ngClass]="['mat-elevation-z8','container','lg:container','xl:container']" tabindex="0">
    <table [ngClass]="['table','lg:table','xl:table']" mat-table [dataSource]="dataSource">
      <!-- Colum 1 -->
      <ng-container matColumnDef="id" [sticky]="true">                    
        <th *matHeaderCellDef [ngClass]="['column','header-id']">ID</th>
        <td *matCellDef="let element" [ngClass]="['column','content-id']">{{element.id}}</td>
      </ng-container>
      <!-- Colum 2 -->
      <ng-container matColumnDef="companyName">
        <th *matHeaderCellDef [ngClass]="['column','header-companyName']">Razón social</th>
        <td *matCellDef="let element" [ngClass]="['column','content-companyName']">{{element.companyName}}</td>
      </ng-container>
       <!-- Colum 3 -->
       <ng-container matColumnDef="nroDocument">
        <th *matHeaderCellDef [ngClass]="['column','header-nroDocument']">N° Documento</th>
        <td *matCellDef="let element" [ngClass]="['column','content-nroDocument']">{{element.nroDocument}}</td>
      </ng-container>
      <!-- Colum 4 -->
      <ng-container matColumnDef="commercialName">
        <th *matHeaderCellDef [ngClass]="['column','header-commercialName']">Nombre comercial</th>
        <td *matCellDef="let element" [ngClass]="['column','content-commercialName']">{{element.commercialName}}</td>
      </ng-container>
      <!-- Star Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th *matHeaderCellDef [ngClass]="['column','header-actions']" aria-label="row actions">Acciones</th>
        <td *matCellDef="let element" [ngClass]="['column','content-actions']">
          <div [ngClass]="['menu-actions']">
            <button mat-icon-button color="success" (click)="goPageEdit(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDialogDelete(element.id, element.companyName)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

  <mat-paginator 
    [ngClass]="['paginator']" 
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
  ></mat-paginator>
 
</div>
