:root {
  --width-sidebar-mobile: 3.5rem;
  --width-sidebar-desktop: 16.5rem;
}

.layout {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
/* -------------------------------------------- content -------------------------------------------- */
.layout .content { 
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 20, 139);
  transition: all .3s ease;
}

/* xs */
.layout .xs\:content-closed {
  left: 0rem;
  width: 100%;
}

.layout .xs\:content-open {
  left: 0rem;
  width: 100%;
}

/* md */
.layout .md\:content-closed {
  left: 3.5rem;
  width: calc(100% - 3.5rem);
}

.layout .md\:content-open {
  left: 16.5rem;
  width: calc(100% - 16.5rem);
}

.layout .lg\:content-open {
  left: 16.5rem;
  width: calc(100% - 16.5rem);
}
/* -------------------------------------------- end content -------------------------------------------- */
/* ---------------------------------------------- main -------------------------------------------- */
.layout .content .main {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  background-color:rgb(230, 230, 230);
  overflow: auto;
}
/* -------------------------------------------- end main -------------------------------------------- */