input[type="file"]{
  display: none;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.1875rem;
  color:#fff;
  background-color: #262728;
  margin: auto;
  cursor: pointer;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}