.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: auto;
}

.title {
  font-family: 'Open Sans';
  font-size: 1.4rem;
  font-weight: 800;
  padding-bottom: 0.7rem;
  text-transform: uppercase;
}
/* ------------------------------------------------ FORM ------------------------------------------------ */
.form{
  margin-bottom: 0.6rem;
}

.input-filter {
  margin-bottom: -0.5rem;
  padding-right: 0;
}

@media screen and (min-width: 48em) {
  .md\:input-filter {
    padding-right: 0.2rem;
  }
}

.button-new {
  padding-top: 0;
  padding-left: 0;
}

@media screen and (min-width: 48em) {
  .md\:button-new {
    padding-top: 0.4rem;
    padding-left: 0.2rem;
  }
}

/* ------------------------------------------------ TABLE ------------------------------------------------ */
.container {
  flex-grow: 1;
  width: 100%;
  /* max-width: 100%; */
  overflow-x: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.paginator {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 62em) {
  .lg\:container {
    width: 100%;
  }
}

@media screen and (min-width: 75em) {
  .xl\:container {
    width: 100%;
  }
}

.table {
  width: 100%;
}

.column {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  text-align: center;
  font-size: 0.9rem;
} 

.header-id {
  color: #909090;
  width: 10%;
}

@media screen and (min-width: 62em) {
  .lg\:header-id {
    width: 5%;
  }
}

.header-name {
  color: #909090;
  width: 60%;
}

@media screen and (min-width: 62em) {
  .lg\:header-name {
    width: 85%;
  }
}

.header-actions {
  color: #909090;
  width: 30%;
}

@media screen and (min-width: 62em) {
  .lg\:header-actions {
    width: 15%;
  }
}

.content-id {
  padding: 0.2rem 0.5rem;
  width: 10%;
  height: 1.5rem;
}

@media screen and (min-width: 62em) {
  .lg\:content-id {
    width: 5%;
  }
}

.content-name {
  padding: 0.2rem 0.5rem;
  width: 60%;
  height: 1.5rem;
} 

@media screen and (min-width: 62em) {
  .lg\:content-name {
    width: 85%;
  }
}

.content-actions {
  padding: 0.2rem 0.5rem;
  width: 30%;
}

@media screen and (min-width: 62em) {
  .lg\:content-actions {
    width: 15%;
  }
}

.paginator {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-actions {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.mat-success {
  color: #f00000;
}

.mat-warn {
  color: #000000;
}